@model Zhouxieyi.evaluationSiteOnContainers.Services.Identity.API.ViewModels.Login.RegisterViewModel

<div>
    <ul class="container">
        <li class="active">账号注册</li>
        <li><a asp-area="" asp-controller="Account" asp-action="Login" asp-route-returnurl="@ViewData["ReturnUrl"]">已有账号？去登陆</a></li>
    </ul>
</div>
<div class="container">
    <form asp-controller="Account" asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
        <h4>CREATE NEW ACCOUNT</h4>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="ConfirmPassword"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="User.NickName">昵称</label>
                <input asp-for="User.NickName" class="form-control" placeholder="你希望别人怎么称呼你？"/>
                <span asp-validation-for="User.NickName" class="text-danger"></span>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-6">
                <label asp-for="User.SecurityQuestion">密保问题</label>
                <input asp-for="User.SecurityQuestion" class="form-control" />
                <span asp-validation-for="User.SecurityQuestion" class="text-danger"></span>
            </div>
            <div class="form-group col-sm-6">
                <label asp-for="User.SecurityAnswer">问题答案</label>
                <input asp-for="User.SecurityAnswer" class="form-control" placeholder="请牢记该答案，这是用于修改密码的途径"/>
                <span asp-validation-for="User.SecurityAnswer" class="text-danger"></span>
            </div>
        </div>
        <br /><br />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">&nbsp;注册&nbsp;</button>
        </div>
        <br /><br />
    </form>
</div>