<div class="welcome-page text-center">
    <h1>
        <img src="~/icon.jpg">
        Welcome to my IdentityServer
    </h1>

    <ul>
        <li>
            Click <a href="~/.well-known/openid-configuration">discovery document</a>to see metadata and links to all the endpoints.
        </li>
        <li>
            Click <a href="~/diagnostics">here</a> to see the claims for your current session.
        </li>
        <li>
            Click <a href="~/grants">here</a> to manage your stored grants.
        </li>
    </ul>
</div>